.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid rgba(126, 126, 126, 1);
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0);
  transition:
    border-color 0.2s ease,
    box-shadow 0.3s ease;
}

.toggle-switch:hover {
  border-color: black;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.32);
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  background-color: black;
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  transition: transform 0.3s ease;
}

.toggle-switch__text {
  color: grey;
  position: absolute;
  top: 5px;
}

.toggle-switch__text_F {
  left: 9px;
}
.toggle-switch__text_C {
  right: 9px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  transform: translateX(28px);
}

.toggle-switch__checkbox:not(:checked) ~ .toggle-switch__text_F {
  color: white;
}
.toggle-switch__checkbox:checked ~ .toggle-switch__text_C {
  color: white;
}
