.profile {
  display: flex;
  align-items: flex-start;
  gap: 116px;
}

.modal-layer_profile .modal__content,
.modal-layer_profile .confirm-modal {
  transform: translateX(172.5px);
}

@media screen and (max-width: 866px) {
  .profile {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .modal-layer_profile .modal__content,
  .modal-layer_profile .confirm-modal {
    transform: translateX(0);
  }
}
