.page {
  background-color: rgba(243, 243, 243, 1);
  min-height: 100vh;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

.weather-loading {
  font-size: 50px;
  padding: 125px 0;
  display: block;
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
}

@media screen and (max-width: 500px) {
  .page__content {
    padding: 0 16px;
  }
}
