.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__name {
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 1);
  padding: 2px 12px;
  border-radius: 4px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
}

.card__header {
  position: absolute;
  top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.card__image {
  width: 100%;
  border-radius: 19px;
  cursor: pointer;
}

.card__like-btn {
  margin: 5px 0 0 0;
  border: none;
  background-color: transparent;
}

.card__like-icon {
  width: 18px;
  height: 15px;
}

@media screen and (max-width: 628px) {
  .card {
    width: 168px;
  }

  .card__image {
    width: 100%;
  }

  .card__name {
    top: 7px;
  }

  .card__header {
    top: 8px;
  }
}
