.modal__image {
  width: 100%;
}

.modal__content_type_image {
  max-width: 498px;
  padding: 0;
}

.modal__caption {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
}
.modal__weather {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
}
.modal__footer {
  display: flex;
  justify-content: space-between;
  /* gap: 12px; */
  margin: 20px 32px 32px 32px;
}

.modal__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal__delete-btn {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  color: rgba(255, 77, 0, 1);
  cursor: pointer;
  transition: color 0.2s ease;
}

.modal__delete-button_hidden {
  display: none;
}

.modal__delete-btn:hover {
  color: rgba(255, 77, 0, 0.7);
}
.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal__content_type_image {
    margin: 0 16px;
    max-width: 343px;
  }
}
