.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1358px;
  margin: 141px 0 0 24px;
  font-size: 16px;
  font-family: "Cabinet Grotesk";
  font-weight: 500;
}

@media screen and (max-width: 628px) {
  .footer {
    margin: 141px 0 0 24px;
  }
}
